:root {
    --spotify-green: #1DB954;
    --spotify-black: #191414;
    --spotify-light-green: #31c364;
    --border: rgb(200, 200, 200);
}

html {
    height: 100%;
}
body {
    padding-bottom: 5em !important;
    font-weight: 700 !important;
    text-align: center !important;
    background-color: whitesmoke !important;
    color: var(--spotify-black) !important;
}
div.container {
    width: 100% !important;
    padding: 10px !important;
}
p {
    width: 40%;
    font-size: 1.25rem;
    margin: 2.5em auto 0 !important;
}
header {
    width: 100%;
    margin: 0 !important;
    background-color: whitesmoke !important;
    color: var(--spotify-black) !important;
    padding: 25px 0px 10px !important;
    border-bottom: 1px solid var(--border) !important;
}
h1 {
    text-decoration: underline;
    font-size: 2.75rem;
    padding: 0.5em 0 0.5em !important;
}
div.login {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 3em;
    border-bottom: 1px solid var(--border) !important;
}
button {
    letter-spacing: 0.125em;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    color: var(--spotify-black) !important;
    background-color: var(--spotify-green) !important;
    border: 0px !important; 
    border-radius: 500px !important;
    margin: 2.5em auto 0 !important;
    padding: 0.5em 3em !important;
}
button:hover {
    background-color: var(--spotify-light-green) !important;
    transform: scale(1.01) perspective(1px) !important;
}
button:active {
    background-color: var(--spotify-light-green) !important;
}
img {
    width: 2em;
}
h2 {
    margin: 1em;
}