:root {
    --spotify-green: #1ed760;
    --spotify-black: #191414;
    --spotify-light-green: #21e365;
    --spotify-dark-green: #117a37;
    --border: rgb(200, 200, 200);
}
/* General text formatting */
html {
    height: 100%;
}
p {
    font-size: medium !important;
    font-weight: 400 !important;
    text-align: center !important;
    width: 45% !important;
    margin: 1em auto !important;
}
body {
    font-weight: 700 !important;
    text-align: center !important;
    background-color: whitesmoke !important;
    color: var(--spotify-black) !important;
}
header {
    width: 100%;
    margin: 0 auto !important;
    background-color: whitesmoke !important;
    color: var(--spotify-black) !important;
    padding: 25px 0px 10px !important;
    border-bottom: 1px solid var(--border) !important;
}
h1 {
    text-decoration: underline !important;
    font-size: 2.75rem !important;
    padding: 0.5em 0 0.5em !important;
}

/* Center the table */
table {
    border-radius: 1em !important;
    margin: 3em 15% 3em auto !important;
    text-align: center !important;
    width: 85% !important;
    table-layout: auto !important;
}
td {
    width: 33% !important;
    vertical-align: top !important;
    margin: 0 !important;
    padding-bottom: 3em !important;
}
ol {
    list-style: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
/* Fixed sizes for each item */
li.display-item {
    font-size: 1.25rem !important;
    width: 100% !important;
    height: 10em !important;
}
img {
    width: 2em !important;
    margin: auto !important
}
thead {
    text-align: center !important;
    width: 100% !important;
    margin: 0 auto !important;
    height: max-content !important;
    border-bottom: 2px solid var(--border) !important;
}
th {
    width: fit-content !important;
    margin: 0 auto !important;
    padding: 0 0 1em !important;
    font-size: 1.5rem !important;
}
section {
    width: 70% !important;
    min-width: fit-content !important;
    margin: auto !important;
    background-color: whitesmoke !important;
    color: var(--spotify-black) !important;
    padding: 10px 0 20px!important;
    border-bottom: 1px solid var(--border) !important;
}
.input-container {
    padding: 1em 0 !important;
    display: inline-block !important;
    width: 30% !important;
}
h2{
    padding: 0 !important;
}
select, input {
    text-align: center !important;
    font-family: inherit !important;
    border-radius: 24px !important;
    border: 1px solid var(--border) !important;
    background-color: whitesmoke !important;
    color: var(--spotify-black) !important;
    padding: 10px !important;
}
.select-wrapper {
    line-height: 0 !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0 auto !important;
    overflow: hidden !important;
    text-align: center !important;
    font-family: inherit !important;
    border-radius: 24px !important;
    border: 1px solid var(--border) !important;
    width: fit-content !important;
}
select {
    margin: 0 !important;
    line-height: 0 !important;
    border: 0 !important;
    outline: none !important;
}

/* Button styling */
button {
    width: 40% !important;
    min-width: fit-content !important;
    letter-spacing: 0.06125rem !important;
    font-size: 100% !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
    color: var(--spotify-black) !important;
    background-color: var(--spotify-green) !important;
    border: 0px !important; 
    border-radius: 500px !important;
    margin: 1em auto 0 !important;
    padding: 0.5em 3em !important;
}
button:hover {
    background-color: var(--spotify-light-green) !important;
}
button:active {
    background-color: var(--spotify-dark-green) !important;
    outline: none !important;
}
button:focus {
    background-color: var(--spotify-green) !important;
    outline: none !important;
}
label {
    display: block !important;
    margin: 1em auto !important;
}
a {
    color: inherit !important;
    text-decoration: underline !important;
}
a:hover {
    color: inherit !important;
    text-decoration: underline !important;
}
.song-name, .artist-name {
    font-size: 1.25rem !important;
}
img.artist-img, img.song-img {
    width: 5em !important;
    height: 5em !important;
}
h3 {
    text-align: center !important;
}
/* Seed display styling */
button.add {
    display: inline !important;
    width: 40px !important;
    height: 40px !important;
    line-height: 35px !important;
    border-radius: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
}
div.item-grouping {
    display: inline-block !important;
    align-self: center !important;
    text-align: center !important;
    margin: auto 1em !important;
}
.seed.display {
    text-align: center !important;
    position: fixed !important;
    right: 0 !important;
    top: 25% !important;
    height: 50% !important;
    width: 15% !important;
    margin: auto !important;
    font-size: 1.25rem !important;
    font-weight: normal !important;
}
li.seed-item {
    text-align: center !important;
    margin: 2em 0 !important;
    font-size: inherit !important;
    padding: 0 !important;
}
span {
    text-decoration: underline !important;
    margin: 2em 0 !important;
    font-size: inherit !important;
    font-weight: bold !important;
}


/* ol.inline.list {
    display: inline;
    list-style: none;
    font-family: inherit !important;
    font-size: 1.25rem !important;
}

.custom-item {
    display: inline !important;
    padding: 0 1em 0 !important;
} */